/*Reseteando*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos de los gatitos */

.mobile {
    bottom: 0;
    margin-left: 85px;
    position: absolute;
    width: 50%;
}

.tablet {
    bottom: 2%;
    display: none;
    margin-left: 30%;
    position: absolute;
    width: 40%;
}

.desktop {
    bottom: 0;
    display: none;
    margin-left: 20%;
    position: absolute;
    width: 25%;
}

/*--Grid--*/

[class*="row-"] {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    margin: 0 ;
    position: absolute;
    width: 100%;
}

@media (min-width: 0) {
.row-1 {
    background-image: url('../assets/images/dawn.png');
    }
}

@media (min-width: 768px) {
    .row-2 {
        background-image: url('../assets/images/night.jpg');
    } 

    .tablet {
        display: block;
    }

    .mobile {
        display: none;
    }

    .desktop {
        display: none;
    }
}

@media (min-width: 992px) {
    .row-3 {
        background-image: url('../assets/images/sunny-day.jpg');
        }

    .desktop {
        display: block;
    }

    .tablet {
        display: none;
    }

    .mobile {
        display: none;
    }
}